* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-index {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    " header"
    " main-index"
    " footer";
}
/* header */
.header {
  font-family: roboto sans-serif;
  grid-area: header;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 8px;
}
.header h2 {
  margin-bottom: 6px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.buttom-select {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-family: sans-serif;
}
.buttom-nav {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-family: sans-serif;
}
/* main del index */
.main-index {
  grid-area: main-index;

  display: flex;

  flex-direction: column;
  background-color: ghostwhite;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.title-main-index {
  font-family: roboto sans-serif;

  text-align: center;
}
.subtittle-index {
  color: gray;
  font-family: sans-serif;
  text-align: center;
}

/* footer */
.footer {
  height: 5vh;

  grid-area: footer;
  background-color: #2563eb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

@media (min-width: 600px) {
}
@media (min-width: 1024px) {
}
